footer {
    max-width: 80rem;
    width: 100%;
    padding: 4rem 2rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & .log{
        display: flex;
        align-items: center;
        gap: .75rem;

    font: 700 1.25rem/1.3 "Syne", sans-serif;

    }


}
